<div class="card mx-auto mt-5">
  <div class="card-header">
      <h3 class="mb-0">Login</h3>
  </div>
  <div class="card-body">
      <form [formGroup]="loginForm" class="form" (ngSubmit)="onLogin(f)">
          <div class="form-group">
              <label for="uname1">User</label>
              <input type="text" class="form-control" 
              name="uname1" id="uname1" formControlName="username">
              <div *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                <small class="error-message-inputs" *ngIf="loginForm.controls.username.errors.required">
                  This field is required
                </small>
              </div>
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="pwd1" formControlName="password">
              <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                <small class="error-message-inputs" *ngIf="loginForm.controls.password.errors.required">
                  This field is required
                </small>
              </div>
          </div>
          <div class="col-12 text-center mt-3 mb-3" *ngIf="errorObj.status">
            <small class="error-message-inputs"> {{ errorObj.message }} </small>
          </div>
          <button type="submit" class="btn btn-success float-right" id="btnLogin" [disabled] = "loginForm.invalid">Login</button>
      </form>
  </div>
</div>